@using Web.Components.Components
<section id="about" class="about-card">
    <div class="about-tag">
        <span class="about-dot purple" />
        <p>Экономика - Эконометрика - ДКП </p>
    </div>
    <div class="about-header">
        <h1>Экономическая <br /> универсиада 2026</h1>
    </div>
    <div class="about-action">
        <LinkButton Type=LinkButton.ButtonType.Primary Href="http://localhost:8080">
            Принять участие
        </LinkButton>
        <LinkButton Type=LinkButton.ButtonType.Secondary Href="http://localhost:8080">
            Подробнее
        </LinkButton>
    </div>
</section>
