@using Web.Components.Components
<section id="about" class="about-card">
    <div class="about-tag">
        <span class="about-dot purple" />
        <p>Макроэкономика • Эконометрика • ДКП </p>
    </div>
    <div class="about-header">
        <h1>Экономическая <br /> универсиада 2026</h1>
    </div>
    <div class="about-action">
        <LinkButton Type=LinkButton.ButtonType.Primary Href="https://forms.yandex.ru/u/69e71dcf49af4723e725d0eb/">
            Принять участие
        </LinkButton>
        <LinkButton Type=LinkButton.ButtonType.Secondary Href="https://www.econ.msu.ru/sys/raw.php?o=140088&p=attachment">
            Подробнее
        </LinkButton>
    </div>
</section>
