<section id="about" class="about-card">
    <div class="about-tag">
        <span class="about-dot purple" />
        <p>Экономика - Эконометрика - ДКП </p>
    </div>
    <div class="about-header">
        <h1>Экономическая <br /> универсиада 2026</h1>
    </div>
    <div class="about-action">
        <div class="about-link primary">
            <span class="about-dot green" />
            <a href="http://localhost:8080">Принять участие</a>
        </div>
        <div class="about-link secondary">
            <a href="http://localhost">Подробнее</a>
        </div>
    </div>
</section>
