<section id="challenge" class="challenge-card">
    
    <div class="challenge-tag">
        <span class="challenge-triangle" />
        <span class="challenge-triangle" />
        <span class="challenge-triangle" />
        <p>Экономическая унмверсиада - это</p>
    </div>
    
    <div class="challenge-header">
        <h1>Всероссийския олимпиада для студентов по денежно-кредитной политике</h1>
    </div>
    
    <div class="challenge-footer">
        <p>Центральный банк РФ | МГУ им. Ломоносова</p>
    </div>

    <div class="challenge-content">
        <div class="content-header">
            <p>Попробуй себя в роли Мегарегулятора</p>
        </div>
        <div class="content-item active">
            <p>Определяй размер ключевой ставки</p>
        </div>
        <div class="content-item">
            <p>Оценивай последствия проводимой ДКП</p>
        </div>
        <div class="content-item">
            <p>Удерживай инфляцию вблизи цели</p>
        </div>
        <div class="content-actions">
            <button>prev</button>
            <button>next</button>
        </div>
    </div>

    <script>

    </script>

</section>