<h1>Остались вопросы?</h1>
<h2>Напини нам</h2>

    
<div>Остались вопросы?</div>
<div>Напиши нам</div>
<div>Telegram</div>
<div>Max</div>
<div>Email</div>
<div>Логотип ЦБ</div>
<div>Логотип МГУ</div>
