<section id="contacts" class="contacts-card">

    <div contacts-left>
        <div class="contacts-header">
            <h1>Остались вопросы?</h1>
            <h2>Напиши нам</h2>
        </div>

        <div class="contacts-content">
            <a href="https://t.me/zyryanova_darya" class="social-icon telegram">
                <svg viewBox="0 0 24 24" width="70" height="70">
                    <circle cx="12" cy="12" r="10" fill="black"></circle>
                    <g transform="scale(0.5) translate(12,12) " <path fill="white" d="M19.75 4.2c.4-.16.82.2.72.62l-3.3 15.6c-.08.38-.5.58-.85.4l-5.2-2.8-2.6
                        2.5c-.28.27-.76.08-.76-.3v-3.7l9.8-8.86c.23-.2-.05-.55-.32-.38l-12.1
                        7.4-5.1-1.7c-.4-.13-.43-.7-.06-.88L19.75 4.2Z" />
                    </g>
                </svg>
            </a>
            <a href="https://max.ru/u/f9LHodD0cOKx33Gs6o0fIf3rA2pMABcJkrbK47l5WtehL13Pb_qtpLa2P50" class="social-icon max">
                <svg viewBox="0 0 24 24" width="70" height="70">
                    <circle cx="12" cy="12" r="10" fill="black" />
                    <image href="icons/max.svg" x="6.5" y="6.5" width="11" height="11" />
                </svg>
            </a>
            <a href="mailto:macro-universiade@yandex.ru" class="social-icon email">
                <svg viewBox="0 0 24 24" width="70" height="70">
                    <circle cx="12" cy="12" r="10" fill="black"></circle>
                    <g transform="scale(0.5) translate(12,12) " <path fill="white"
                                                                          d="M20 6H4a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2Zm0 3.2-8 4.8-8-4.8V8l8 4.8L20 8v1.2Z" />
                    </g>
                </svg>
            </a>
        </div>
    </div>

    <div class="contacts-footer">
        <div class="logos">
            <img src="/icons/cbr-logo.png" alt="Банк России" class="logo-cbr">
            <span class="divider"></span>
            <img src="/icons/msu-logo.png" alt="МГУ им. Ломоносова" class="logo-msu">
        </div>
    </div>

</section>