<section id="faq" class="faq-card">
    
    <div class="faq-header">
        <h1>Часто задаваемые вопросы</h1>
    </div>
        
    <div class="faq-content">
        <div class="content-item">
            <details>
                <summary>Что представляет из себя задание универсиады?</summary>
                <p>Экономическая универсиада состоит из 2 этапов: заочный и очный<br /><br />

                    На первом этапе команда получает данные об экономике условной страны и принимает 14 решений по
                    ключевой ставке (2
                    тестовых и 12 зачетных). Задача — удерживать инфляцию как можно ближе к 4%. Результат —
                    среднеквадратическое
                    отклонение инфляции от целевого уровня по итогам 12 зачетных периодов решений по ставке. Чем меньше
                    это отклонение, тем более высокое место в заочном этапе занимает команда. Лучшие команды
                    приглашаются на
                    заключительный этап. <br /><br />

                    Финальный этап включает устную презентацию результатов, достигнутых в рамках заочного этапа, и
                    методики их достижения. Жюри оценивает методологию принятия решений, как анализировали ошибки и
                    улучшали
                    решения, а также качество самой презентации и ответов на вопросы.
                </p>
            </details>
            <details>
                <summary>Кто может принять участие в универсиаде?</summary>
                <p>
                    Студенты бакалавриата, специалитета и магистратуры экономических и смежных направлений.
                </p>
            </details>
            <details>
                <summary>Какие требования к составу команды?</summary>
                <p>Состав команды — от 4 до 6 участников.
                    Участие оценивается в двух независимых зачётах: один — для команд, сформированных исключительно из
                    студентов
                    бакалавриата и специалитета, другой — для команд, включающих магистрантов.</p>
                </details>
                <details>
                    <summary>Возможны ли изменения в составе команды?</summary>
                    <p>
                        После отправки заявки на участие любые изменения состава требуют согласования с организаторами через
                        почу или мессенджеры.
                    </p>
                </details>
            </div>
        </div>
    </section>
