<section id="marquee" class="marquee-card">
    <!-- ЛЕВАЯ СТРОКА (снизу вверх) -->
    <div class="marquee-left">
        <div class="text">
            ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026    |    ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026    |    ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026    |
            ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 | ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 | ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 |
            ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 | ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 | ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 |
            ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 | ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 | ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 |
            ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 | ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 | ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 |
            ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 | ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 | ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 |
            ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 | ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 | ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 |
            ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 | ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 | ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 | 
            </div>
        </div>

        <!-- ПРАВАЯ СТРОКА (сверху вниз) -->
        <div class="marquee-right">
            <div class="text">
                ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 | ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 | ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 |
                ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 | ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 | ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 |
                ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 | ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 | ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 |
                ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 | ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 | ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 |
                ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 | ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 | ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 |
                ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 | ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 | ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 |
                ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 | ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 | ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 |
                ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 | ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 | ЭКОНОМИЧЕСКАЯ УНИВЕСРИАДА 2026 |
            </div>
        </div>
    </section>