<nav class="nav">
    <div class="nav-items">
        <div class="nav-item">
            <NavLink href="#challenge" class="nav-link nav-link-active">Об олимпиаде</NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="#timeline" class="nav-link">Этапы</NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="#faq" class="nav-link">Вопросы и ответы</NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="#contacts" class="nav-link">Контакты</NavLink>
        </div>
    </div>
    <div class="nav-login">
        <div class="naw-item">
            <NavLink href="/econ-cabinet" class="nav-link">Войти</NavLink>
        </div>
    </div>
</nav>

<script>
    window.addEventListener('scroll', function () {
        const nav = document.querySelector('.nav');
        if (window.scrollY > 50) {
            nav.classList.add('scrolled');
        }
        else {
            nav.classList.remove('scrolled');
        }
    })
</script>
