<nav class="nav">
    <div class="nav-items">
        <div class="nav-item">
            <NavLink href="#about" class="nav-link nav-link-active">Об олимпиаде</NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="#" class="nav-link">Этапы</NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="#" class="nav-link">Вопросы и ответы</NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="#" class="nav-link">Контакты</NavLink>
        </div>
    </div>
    <div class="nav-login">
        <div class="naw-item">
            <NavLink href="#" class="nav-link">Войти</NavLink>
        </div>
    </div>
</nav>
