<nav class="nav">
    <div class="nav-items">
        <div class="nav-item">
            <NavLink href="#challenge" class="nav-link nav-link-active">Об олимпиаде</NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="#timeline" class="nav-link">Этапы</NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="#faq" class="nav-link">Вопросы и ответы</NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="#contacts" class="nav-link">Контакты</NavLink>
        </div>
    </div>
    <div class="nav-login">
        <div class="naw-item">
            <NavLink href="/econ-cabinet" class="nav-link">Войти</NavLink>
        </div>
    </div>
</nav>

<script>
    window.addEventListener('scroll', () => {
        const nav = document.querySelector('.nav');
        if (window.innerWidth > 768) {
            nav.classList.toggle('scrolled', window.scrollY > 50);
        }
    });

    document.querySelectorAll('.nav-link[href^="#"]').forEach(link => {
        link.addEventListener('click', e => {
            e.preventDefault();
            const target = document.getElementById(link.getAttribute('href').slice(1));
            if (target) {
                const offset = document.querySelector('.nav').offsetHeight + 20;
                window.scrollTo({
                    top: target.offsetTop - offset,
                    behavior: 'smooth'
                });
                history.pushState(null, null, link.getAttribute('href'));
            }
        });
    });
</script>