.nav-cab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.nav-cab.scrolled {
    background-color: #fffffff6;
}

.nav-cab-items {
    display: flex;
    gap: 2rem;
    
}

::deep .nav-cab-link {
    padding: 1rem;
    display: inline-block;
    text-decoration: none;
    color: currentColor;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

::deep .nav-cab-link:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    border-radius: 0.3rem;
}




/* настраиваем адаптивность */

@media (max-width: 1524px) {
    .nav-cab {
       padding-left: 6rem;
        padding-right: 6rem;
        padding-top: 1rem;
        padding-bottom: 0.2rem;
    }

    ::deep .nav-cab-link {
        font-size: 1rem;
    }
}



@media (max-width: 1024px) {
    .nav-cab {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }

    ::deep .nav-cab-link {
        font-size: 0.7rem;
    }
}

@media (max-width: 460px) {
    .nav-cab {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }

    ::deep .nav-cab-link {
        font-size: 0.4rem;
    }
}