.form-card {
    background: white;
    border-radius: 1rem;
    box-shadow: 10px 15px 16px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    margin: 6rem;
    display: flex;
    align-items: stretch;
}

.teamName {
    padding: 0rem;
    margin-left: 6rem;
    margin-right: 6rem;
    margin-bottom: -4rem;
    margin-top: 2rem;
    text-align: center;
}

.teamName p {
    font-size: 2rem;
    text-transform: uppercase;
}

.left-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0rem;
    padding-right: 4rem;

}

.task-title {
    font-weight: bold;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.p1 {
    padding: 0rem !important;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.p2 {
    padding: 0rem !important;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: #a7a7a7;
    font-size: 1.2rem;
    text-transform: uppercase;
}



.reference-information {
    border-radius: 1rem;
    border: none;
    background-color: rgb(231, 231, 231);
    padding: 1rem;
}

.reference-information p {
    font-size: 16px;
}


.calendar-link {
    color: #7c57d9;
    /* Наследует цвет текста */
    text-decoration: none;
    /* Убирает подчеркивание */
    cursor: pointer;
    /* Оставляет курсор-руку */
    font-size: 16px;
}

.calendar-link:hover {
    color: #5db06f;
    /* Цвет не меняется */
}

.right-card {
    flex: 1;
}

.send-form {
    border-radius: 1rem;
    border-style: solid;
    border-width: 2px;
    border-color: #7c57d9;
    padding: 1rem;
}

.title {
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.subtitle {
    font-weight: 500;
    font-size: 0.9rem;
    color: rgb(95, 95, 95);
    margin-bottom: 1rem;
}

.divider {
    display: block;
    width: 100%;
    height: 0;
    border-top: 1px solid #ccc;
    margin: 1rem 0;
}

.form-field {
    border-radius: 1rem;
    border: 2px solid #5db06f;
    background: white;
    margin-bottom: 1rem;
    transition: all 0.2s ease;
    padding: 0.5rem;
}


.form-field:hover {
    border-color: #7c57d9;
    background: #f9f9f9;
}


::deep .field-input {
    width: 100%;
    border: none;
    background: transparent;
    font-size: 1rem;
    font-family: inherit;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
}

::deep .custom-file-input {
    width: 100%;
    border: none;
    background: transparent;
    font-size: 1rem;
    font-family: inherit;
    box-sizing: border-box;
    cursor: pointer;
}


::deep .custom-file-input::-webkit-file-upload-button {
    border-color: #c0c0c0;
    background: rgba(216, 216, 216, 0.479);
    border-radius: 0.5rem;
    border-width: 0.1rem;
    cursor: pointer;
}

.form-action {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.send-button {
    display: inline-flex;
    align-items: center;
    border-radius: 2rem;
    border: none;
    background-color: black;
    gap: 0.7rem;
    padding: 1rem 2rem;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
    font-family: inherit;
    font-weight: 600;
    color: white;
}

.download-button {
    display: inline-flex;
    align-items: center;
    border-radius: 2rem;
    border: none;
    background-color: rgb(231, 231, 231);
    gap: 0.7rem;
    padding: 1rem 2rem;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
    font-family: inherit;
    font-weight: 600;
    color: rgb(0, 0, 0);
}


.form-action button:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.btn-dot {
    display: inline-block;
    width: 0.6rem;
    height: 0.6rem;
    clip-path: circle(50%);
    flex-shrink: 0;
    background-color: #81f381;
}

.download-btn-dot {
    display: inline-block;
    width: 0.6rem;
    height: 0.6rem;
    clip-path: circle(50%);
    flex-shrink: 0;
    background-color: #7c57d9;
}



.hidden {
    display: none !important;
}



.right-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Центрирование по вертикали */
}

.send-form {
    border-radius: 1rem;
    border-style: solid;
    border-width: 2px;
    border-color: #7c57d9;
    padding: 1rem;
    /* Убираем margin, так как центрирование будет через flex */
}



/* настраиваем адаптивность */
@media (max-width: 1024px) {
    .form-card {
        flex-direction: column;
        margin: 2rem;
    }

    .left-card {
        padding-top: 0rem;
        padding-bottom: 3rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .left-card p {
        font-size: 0.8rem;
    }

    .title {
        font-size: 0.8rem;
    }

    .subtitle {
        font-size: 0.6rem;
    }

    .field-input {
        font-size: 0.7rem;
    }

    .custom-file-input {
        font-size: 0.7rem;
    }

    .form-card {
        margin-top: 2rem;
    }

    .form-action {
        justify-content: center;
    }

    .form-action button {
        font-size: 0.8rem;
        justify-content: center;
    }

    ::deep .custom-file-input::-webkit-file-upload-button {
        font-size: 0.8rem;
    }

    ::deep .custom-file-input {
        font-size: 0.8rem;
    }

    ::deep .field-input {
        font-size: 0.8rem;
    }
}



@media (max-width: 460px) {
    .form-card {
        flex-direction: column;
        margin: 2rem;
    }

    .left-card {
        padding-top: 0rem;
        padding-bottom: 3rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .left-card p {
        font-size: 0.8rem;
    }

    .title {
        font-size: 0.8rem;
    }

    .subtitle {
        font-size: 0.6rem;
    }

    .field-input {
        font-size: 0.6rem;
    }

    .custom-file-input {
        font-size: 0.6rem;
    }

    .form-card {
        margin-top: 1rem;
    }

    .form-action {
        justify-content: center;
        flex-direction: column;
    }

    .custom-file-input::-webkit-file-upload-button {
        display: block;
        width: 100%;
        margin: 0;
        margin-bottom: 0.5rem;
    }

    .form-action button {
        font-size: 0.6rem;
        justify-content: center;
    }

    ::deep .custom-file-input::-webkit-file-upload-button {
        font-size: 0.6rem;
    }

    ::deep .custom-file-input {
        font-size: 0.6rem;
    }

    ::deep .field-input {
        font-size: 0.6rem;
    }

    .form-action button {
        font-size: 0.8rem;
        justify-content: center;
    }
}