<section id="timeline" class="timeline-card">
    
    <div class="timeline-header">
        <h1>Этапы проведения универсиады</h1>
        <p>Регистрация уже идет</p>
        <a href="downloads/calendar.pdf" download="Календарь.pdf">Скачать календарь</a>
    </div>

    <div class="timeline-content">
        <h2>Окончание приема заявок</h2>
        <h2>Установочная лекция</h2>
        <h2>Отборочный этап</h2>
        <h2>Подведение итогов</h2>
        <h2>Очный финал в Москве</h2>

        <p>16.08</p>
        <p>31.08</p>
        <p>07.09</p>
        <p>09.10</p>
        <p>31.10</p>
        
        <p>Регистрация доступна до 23:59</p>
        <p>Онлайн-встреча о формате и правилах олимпиады в МТС Линк</p>
        <p>Первое решение по ставке. Далее по календарю</p>
        <p>Результаты и список финалистов в личном кабинете</p>
        <p>Финальная защита в МГУ им. Ломоносова</p>
    </div>

</section>
