@using Web.Components.Components

<section id="timeline" class="timeline-card">

    <div class="timeline-header">
        <div class="timeline-title">
            <h1>Этапы проведения универсиады</h1>
            <p>Регистрация уже идет</p>
        </div>
        <div class="timeline-action">
            <LinkButton Type=LinkButton.ButtonType.Primary Href="downloads/calendar.pdf"
                        Download="Календарь_олимпиады.pdf">
                Скачать календарь
            </LinkButton>
        </div>
    </div>

    <div class="timeline-content">

        <div class="timeline-item">
            <h2>Установочная лекция</h2>
            <div class="timeline-date">
                04.09
            </div>
            <p>Онлайн-встреча в МТС Линк</p>
        </div>

        <div class="timeline-item">
            <h2>Окончание регистрации</h2>
            <div class="timeline-date">
                05.09
            </div>
            <p>Форма доступна до 23:59</p>
        </div>

        <div class="timeline-item">
            <h2>Отборочный этап</h2>
            <div class="timeline-date">
                07.09
            </div>
            <p>Отправка первого решения по ставке</p>
        </div>

        <div class="timeline-item">
            <h2>Подведение итогов</h2>
            <div class="timeline-date">
                09.10
            </div>
            <p>Результаты и список финалистов</p>
        </div>

        <div class="timeline-item">
            <h2>Очный финал в Москве</h2>
            <div class="timeline-date">
                31.10
            </div>
            <p>В МГУ им. Ломоносова</p>
        </div>

    </div>

</section>
