.timeline-card {
    margin: 6rem;

}

.timeline-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.timeline-title {
    flex: 1;
}

.timeline-title h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 0px;
}

.timeline-title p {
    margin-bottom: 30px;
    font-size: 1.2rem;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
}

.timeline-action {
    flex-shrink: 0;
    cursor: pointer;
}

.timeline-content {
    display: flex;
    text-align: center;
    gap: 2rem;
    background: linear-gradient(to bottom, transparent 50%, #ffffff 50%, transparent 100%);
    justify-content: center;
}

.timeline-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.timeline-item h2 {
    height: 6rem;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 0 1rem 0;
}

.timeline-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: transparent;
}

.timeline-date {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    font-size: 1.3rem;
    font-weight: 800;
    position: relative;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    /* больше и темнее */
}

.timeline-item p {
    height: 6rem;
    text-align: center;
    margin-top: 20px;
    font-size: 1.3rem;
    padding: 0rem 1rem;
}

.Mts-link {
    text-decoration: underline;
    /* Подчеркивание */
    text-decoration-color: #7c57d9;
    /* Цвет линии */
    text-underline-offset: 2px;
    /* Отступ линии от текста (опционально) */
    text-decoration-thickness: 3px;
    /* Толщина линии (опционально) */
    cursor: pointer;
    font-size: 1.1rem;
}

.Mts-link:hover {
    color: #7c57d9;
    ;
}







/* настраиваем адаптивность */
@media (max-width: 1439px) {
    .timeline-card {
        margin: 4rem 6rem;

    }

    .timeline-title h1 {
        font-size: 1.7rem;
    }

    .timeline-title p {
        font-size: 0.9rem;
    }

    .timeline-item h2 {
        font-size: 1.2rem;

    }

    .timeline-item p {
        font-size: 1.1rem;
    }

    .Mts-link {
        font-size: 1.1rem;
    }

    .timeline-date {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 50%;
        height: 4rem;
        width: 4rem;
        font-size: 1.1rem;
        position: relative;
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
    }

}


@media (max-width: 1024px) {
    .timeline-card {
        margin: 4rem 2rem;

    }
}

@media (max-width: 768px) {

    .timeline-content {
        display: flex;
        flex-direction: column;
        background: none;
        /* ширина градиента */
        gap: 0rem;
        position: relative;
    }

    .timeline-item {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 0rem 0rem;
        align-items: center;
        line-height: 1.4;
        /* border-bottom: 1px solid white;
        padding-bottom: 1rem; */
        margin-left: 1rem;

    }


    .timeline-date {
        grid-row: 1 / span 2;
        grid-column: 1;
        margin: 0;
        align-self: center;


    }


    /* Заголовок — справа, сверху */
    .timeline-item h2 {
        grid-row: 1;
        grid-column: 2;
        margin: 0;
        margin-left: 1rem;
        margin-top: 0.5rem;
        height: 3rem;
        align-items: end;
        text-align: left;

    }

    /* Описание — справа, снизу */
    .timeline-item p {
        grid-row: 2;
        grid-column: 2;
        margin: 0;
        margin-left: 1rem;
        height: 3rem;
        padding: 0;
        align-content: flex-start;
        text-align: left;
    }



    .timeline-content {
        padding-left: 1rem;
    }

    .timeline-action {
        display: flex;
        justify-content: flex-end;
        flex: 1;
        /* Занимает все оставшееся пространство */
    }

    .timeline-title h1 {
        font-size: 2rem;
    }

    .timeline-content::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 7px;
        background: linear-gradient(180deg,
                transparent 0%,
                /* прозрачный в самом начале */
                white 30%,
                /* с 30% начинается белый */
                white 70%,
                /* до 70% белый */
                transparent 100%
                /* с 70% снова прозрачный */
            );
        border-radius: 3px;
    }

    .timeline-header {
        flex-direction: column;
        align-items: flex-start;
    }


    .timeline-item h2 {
        font-size: 1.9rem;

    }

    .timeline-item p {
        font-size: 1.5rem;

    }

    .Mts-link {
        font-size: 1.5rem;
    }

}

@media (max-width: 460px) {
    .timeline-title h1 {
        font-size: 1.5rem;
    }

    .timeline-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .timeline-item h2 {
        font-size: 1.2rem;

    }

    .timeline-item p {
        font-size: 1rem;

    }

    .Mts-link {
        font-size: 1rem;
    }

}