@page "/"

<PageTitle>Экономическая Универсиада</PageTitle>

<Marquee /> 

<header>
    <Nav />
</header>

<main>

    <About />

    <Challenge />

    <Timeline />

    <FAQ />
    
</main>

<footer>
    <Contacts />
</footer>