@page "/"

<PageTitle>Экономическая Универсиада</PageTitle>

<div>Об олимпиаде</div>
<div>Этапы</div>
<div>Вопросы и ответы</div>
<div>Контакты</div>
<div>Войти</div>

<div>Экономика - Эконометрика - ДКП</div>
<div>Экономическая универсиада 2026</div>
<div>Принять участие</div>
<div>Подробнее</div>

<div>Экономическая универсиада - это</div>
<div>Всеросийская олимпиада для студентов по денежно-кредитной политике</div>
<div>Центральный банк российской федерации | МГУ им. Ломоносова</div>
<div>Попробуй себя в роли</div>
<div>Мегарегулятора</div>
<div>Определяй размер ключевой ставки</div>
<div>Оценивай последствия проводимой ДКП</div>
<div>Удерживай инфляцию вблизи цели</div>

<div>Этапы проведения универсиады</div>
<div>Регистрация уже идет</div>
<div>Скачать календарь</div>
<div>Окончание приема заявок</div>
<div>16.08</div>
<div>Регистрация доступна до 23:59</div>
<div>Установочная лекция</div>
<div>31.08</div>
<div>Онлайн-встреча о формате и правилах олимпиады в МТС Линк</div>
<div>Отборочный этап</div>
<div>07.09</div>
<div>Первое решение по ставке. Далее по календарю</div>
<div>Подведение итогов</div>
<div>09.10</div>
<div>Результаты и список финалистов в личном кабинете</div>
<div>Очный финал в Москве</div>
<div>31.10</div>
<div>Финальная защита в МГУ им. Ломоносова</div>

<div>Часто задаваемые вопросы</div>
<div>Что представляет из себя задание универсиады</div>
<div>Экономическая универсиада состоит из 2 этапов: заочный и очный.</div>
<div>На первом этапе команда получает данные об экономике условной страны и принимает 14 решений по ключевой ставке (2 тестовых и 12 зачетных). Задача — удерживать инфляцию как можно ближе к 4%. Результат — среднее квадратичное отклонение инфляции от целевого уровня по итогам 12 зачетных периодов решений по ставке. Чем меньше это отклонение, тем более высокое место в заочном этапе занимает команда. Лучшие команды приглашаются на заключительный этап.</div>
<div>Финальный этап включает устную презентацию результатов, достигнутых в рамках заочного этапа, и методики их достижения. Жюри оценивает методологию принятия решений, как анализировали ошибки и улучшали решения, а также качество самой презентации и ответов на вопросы.</div>
<div>Кто может принять участие в универсиаде</div>
<div>Студенты экономических и смежных направлений, обучающиеся на бакалавриате, специалитете или в магистратуре.</div>
<div>Какие требования к составу команды</div>
<div>В команде может быть от 4 до 6 участников и все члены команды должны быть из одного университета.</div>
<div>Возможны ли изменения в составе команды</div>
<div>После отправки заявки на участие любые изменения состава требуют согласования с организаторами через почту или мессенджеры.</div>

<div>Остались вопросы?</div>
<div>Напиши нам</div>
<div>Telegram</div>
<div>Max</div>
<div>Email</div>
<div>Логотип ЦБ</div>
<div>Логотип МГУ</div>
